fastapi[standard]
#pymupdf
#opencv-python
#pytesseract
psycopg2
langchain
# langchain_huggingface[HuggingFaceEmbeddings]
tiktoken
streamlit
#pyodbc==4.0.34
langchain_ollama == 0.2.3
sentence-transformers
#aiohttp
#azure-storage-blob==12.3.0
#azure-cli
# azure-identity
